@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    @apply bg-blue-500;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Mencegah scroll horizontal */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Menjamin tinggi body minimal setara dengan tinggi layar */
    box-sizing: border-box;
}

#root {
    flex: 1; /* Membuat konten mengikuti ukuran layar secara fleksibel */
}



.no-scrollbar::-webkit-scrollbar {
    display: none; 
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition : smooth;
}

.cursor-grab {
    cursor: grab;
}

.cursor-grabbing {
    cursor: grabbing;
}

/* CSS Kustom */
.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}




