@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    @apply bg-blue-500;
}

body {
    /* background-color: rgb(242, 242, 247); */
}


.no-scrollbar::-webkit-scrollbar {
    display: none; 
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cursor-grab {
    cursor: grab;
}

.cursor-grabbing {
    cursor: grabbing;
}

/* CSS Kustom */
.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}



